body {
    display: flex;
    align-items: flex-start;
}


.blue {
    padding: 100px;
    background-color: rgb(96, 96, 250);
}
.yo{
    padding: 100px;
    background-color: yellow;
    margin: 20px;
}
.red {
    padding-right: 340px;
    background-color: red;
}

.green{
    background-color: rgb(7, 201, 7);
    padding-bottom: 340px;
}




.flex{
    display: flex;
}

